@use '../../styles/variables' as *;

.search-input {
  position: relative;
  flex: 1;
  min-width: 0;

  &__icon {
    position: absolute;
    left: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
    color: $neutral-300;
    pointer-events: none;
  }

  &__field {
    width: 100%;
    height: 2.75rem;
    padding: 0 0.875rem 0 2.5rem;
    background-color: $neutral-white;
    border: 0.03125rem solid $neutral-100;
    border-radius: $radius-md;
    font-family: $font-family;
    font-size: $font-size-md;
    color: $neutral-900;
    transition: border-color 0.2s;

    &::placeholder {
      color: $neutral-400;
    }

    &:focus {
      outline: none;
      border-color: $primary-400;
    }
  }
}
